<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tom&Co Hackathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="HandheldFriendly" content="true" />
    <link rel="shortcut icon" href="images/favicon.png" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    {{{_sections.head}}}
</head>

<body>
    {{{body}}}
</body>

</html>